body{
    text-align: center;
    background-color: #FFF7CD;
    color: #F57799;
    
}
#container{
    /* border: 1px solid black; */
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-left: 34%;
    
}
.box{
    height: 150px;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
    font-size: 30px;
    background-color: #FDC3A1;
}

#reset
{
    margin-top: 20px;
    height: 50px;
    width: 100px;
    background-color: #F57799;
}